body{
    box-sizing: border-box;
    margin: 0 auto;
    background: rgb(67,69,92);
    background: radial-gradient(circle, rgba(67,69,92,1) 0%, rgba(46,48,71,1) 47%, rgba(67,69,92,1) 77%);
}
  
/* NAVBAR */
  
nav {
background-color: #3C3F58;
color: white;
margin: 0;
/* position: fixed; */
}

nav>ul {
    margin: 0;
    text-align: right;
    padding: 5px;
}

nav>ul>li {
    color: white;
    display: inline;
    padding: 5px 10px;
    text-align: right;
}

nav>ul>li>a {
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: "muli";
    font-size: 18px;
    padding: 5px;
}

nav>ul>li>a:hover {
color: #3BBA9C;
}


/* MAIN */

.main {
display: flex;
flex-direction: column;
}

/* ABOUT */

.about {
display: flex;
flex-direction: column;
/* change flex-wrap depending on picture */
flex-wrap: wrap;
max-width: 45em;
justify-content: center;
min-height: 400px;
margin: auto;
padding: 20px 10px;
}

.about-me {
    /* flex-grow: 1; */
    font-size: 20px;
    letter-spacing: 1px;
    }
    
span {
    font-weight: bold;
}

/* PROJECTS */

.projects {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
min-height: 200px;
margin: 75px 0;
}

.project-item{
border: 1px dotted white;
flex-grow: 1;
max-width: 350px;
padding: 8px;
}

.project-container{
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: rgba(112,119,147,0.6);
margin: 10px;
border-radius: 3px;
}

.project-img{
max-width: 100%;
}

.project-title{
min-height: 4%;
}

.project-description {
    min-height: 20%;
    font-size: 17px;
}
.project-tech{
    min-height: 7%;
}

.project-link-div{
 min-height: 4%;
}

.project-link{
    padding: 0 3px;
}

.title{
font-family: "open Sans";
color: #3BBA9C;
/* flex-grow: 1; */
font-size: 60px;
margin-bottom: 0;
}

p{
font-family: "muli";
color: white;
}


.projects{
color: white;
font-family: "open Sans";

}

a{
    color: #3BBA9C;
}

/* FOOTER */

footer{
 margin: 35px 0 0 0;
 min-height: 75px;
 background-color: white;
}

/* CONTACT */

#contact-me-title{
    color: #3BBA9C;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}
/* 
#social-media-container{
    min-height: 45px;
    background-color: white;
} */

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 25px;;
    margin: 5px 0;
}
    
.contact-item {
    border: 1px dotted white;
    flex-grow: 1;
    text-align: center;
    max-width: 100%;
    background-color:white;
}

.contact {
    color: white;
    font-family: "open Sans";
}

  /* MEDIA QUERIES */

@media (max-width: 414px) {
     .about, .projects {
        flex-direction: column;
    }

    .about {
        min-height: 100px;
    }
    .contact {
        min-height: 25px;
    }
    .projects {
        min-height: 200px;
    }

    
}